@using Company.Route2.DAL.Models
@model DepartmentViewModel


@{
    ViewData["Title"] = "Create";
}

<h1>Create page </h1>
<form asp-action="Create">

    <partial name="Shared\CreateEdit.cshtml"></partial>
   
</form>

