@using Company.Route2.DAL.Models

@model DepartmentViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>



<form asp-action="Edit">
    <partial name="Shared\CreateEdit.cshtml"></partial>

</form>