 @model RoleViewModel 
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<form asp-action="Create" enctype="multipart/form-data">
    <partial name="Shared\CreateEdit.cshtml"></partial>

    <input type="submit" value="Submit" class="btn btn-primary" />
    <a asp-action="Index" class="btn btn-light">Back to List </a>
</form>