@model RoleViewModel

@{
    ViewData["Title"] = "Detials";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Detials</h1>


<form enctype="multipart/form-data">

    <partial name="Shared/DeleteDetails.cshtml"></partial>
    <a asp-action="Edit" asp-route-Id="@Model.Id" class="btn btn-waring"> Edit</a>
    <a asp-action="Index" class="btn btn-light">Back to List </a>

</form>