@model string
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<td><a asp-action="Detials" asp-route-Id="@Model" class="btn btn-warning">Detials</a></td>
<td><a asp-action="Edit" asp-route-Id="@Model" class="btn btn-danger">Edit</a></td>
<td><a asp-action="Delete" asp-route-Id="@Model" class="btn btn-dark">Delete</a></td>